{{#if script}}
<script setup lang="ts">
// defineProps<{ msg: string }>()
</script>
{{/if}}

{{#if template}}
<template>
  <h1>{{ name }}</h1>
</template>
{{/if}}

{{#if style}}
<style scoped lang="scss">
</style>
{{/if}}